# .NET Secrets & Configs
appsettings.json
appsettings.Development.json
appsettings.Production.json
[Bb]in/
[Oo]bj/
*.user
*.suo
.vs/

# Secrets
**/secrets.json

# Next.js
.next/
out/
node_modules/
.env
.env.local
.env.production
.env*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

DEPLOYMENT.md